@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background-color: #0d1117 !important; /* or your preferred color */
  color: #ffffff;
}

.container {
  @apply max-w-[960px] mx-auto p-8 rounded-2xl;
  background-color: rgba(0, 0, 0, 0.6);
}
